@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Blinker", serif;
    background-color: #1c1c1c;
    box-sizing: border-box;
} 


.head-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 40px 100px;
}


.icon {
    width: 30px;
    height: 30px;
    fill: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: 0.6s ease;
    margin-top: 3px;
    margin-bottom: 5px;
}

.logo:hover{
    transform: scale(1.1);
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
   
}

.logo a:hover{
    color: #205792;
}


.navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    transition: 0.3s ease;
}

.navigation a {
    text-decoration: none;
    color: #f3eeeb;
    padding: 0 35px;
    margin-left: 20px;
    
}

.navigation li{
    font-size: 20px;
}

.navigation li:hover{
    transform: scale(1.02);
}

.navigation li a:hover{
    color: #656fc0;
}

.hire {
    padding: 15px;
    background-color: #123b68;
    margin-right: 10px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button.hire:hover{
    transform: scale(1.1);
    background-color: rgb(14, 5, 65);
}

.hire a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 100;
    
}

.hire a:hover{
    color: #fafafa;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 1020px;
}

.tab-menu {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 40px;
    
}

.tab-menu li {
    list-style: none;
    background-color: #242427;
    border: 1px solid rgb(93, 116, 117);
    border-radius: 5px;
    padding: 5px 83px;
    transition: 0.6s ease;
}

.tab-menu .tab-login:hover{
    transform: scale(1.02) translateX(-2px);
}

.tab-menu .tab-signup:hover{
    transform: scale(1.02) translateX(2px);
}

.tab-menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

.tab-menu li a:hover{
    color: rgb(136, 161, 179);
}


.tab-content .sign-pargraph {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 20px;
}

.center{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 0 auto;
}

.tab-content{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 700px;
    height: 689px;
    background-color: #1b1b1b;
    border: 2px solid rgb(34, 40, 43);
    border-radius: 7px;
    box-shadow: -1px 0px 20px 0px rgb(34, 40, 44);
    margin: 20px auto;
}

.or {
    color: white;
    display: flex;
    justify-content: center;
}

input{
    padding: 10px;
    margin-bottom: 20px;
}



input:focus{
   outline-color: rgb(38, 73, 100);;
}

.email-container:focus-within .icon-email,
.password-container1:focus-within .icon-password,
.password-container2:focus-within .icon-password,
.input-container:focus-within .icon-profile {
    fill: rgb(25, 63, 92);
    outline-color: rgb(38, 73, 100);
    border: none;
}

.get-started{
    padding: 10px;
    width: 250px;
    margin: 9px auto;
    display: flex;
    justify-content: center;
    transition: 0.25s ease;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.get-started p{
    padding: 0px;
    margin: 0px;
    

}

.get-started:hover {
    transform: scale(1.03);
}

.get-started p:hover{
    color: rgb(25, 38, 49);
}
.continue-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.continue {
    position: relative;
    max-width: 100%;  
    width: 220px; 
    padding: 12px;
    text-align: center; 
    margin-bottom: 20px;
    transition: 0.25s ease;
    cursor: pointer;
}

.continue:hover{
    transform: scale(1.02);
    
}

.continue a {
    text-decoration: none;
    color: black;
    text-align: center; 
    font-weight: 500;
    margin-left: 2px;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
}

.continue a:hover{
    color: rgb(25, 38, 49);
}

.google{
    position: absolute;
    height: 21px;
    left: 3px;
    margin-left: 10px;
    margin-bottom: 12px;
    top: 10px;
    fill:#77560f;
}

.facebook{
    position: absolute;
    height: 22px;
    left: 2px;
    top: 9px;
    margin-left: 10px;
    margin-bottom: 10px;
    fill: #123b68;
}


.input-container,
.email-container,
.password-container1,
.password-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.first-last {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.first-last .input-container {
    width: 100%;
}

.first-last input{
    width: 400px;
}

.label-firstname,
.label-lastname,
.label-email,
.label-password,
.label-confirmpassword {
    color: #f3eeeb;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    display: flex;
}


.icon-profile {
    position: absolute;
    right: 0px;
    top: 40px;
    margin-right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: rgb(77, 70, 70);

}

.email-container{
    position: relative;
    display: flex;
}


.email-container input{
    width: 400px;
}

.icon-email{
    position: absolute;
    right: 0;
    top: 29px;
    margin-right: 9px;
    fill: rgb(77, 70, 70);
    
}

.password-container1{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.icon-password{
    position: absolute;
    right: 0;
    top: 29px;
    margin-right: 9px;
    fill: rgb(77, 70, 70);
    
}

.password-container2{
    display: flex;
    flex-direction: column;
    position: relative;
}

footer {
    background-color: #1c1c1c;
    color: #f3eeeb;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex-basis: 30%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: #f3eeeb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #656fc0;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: auto;
        margin-bottom: 30px;
    }
}


@media (max-width: 860px){
    .head-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navigation{
        margin-right: 50px;
    }
    .navigation li{
        display: block;
    }
    
    .tab-content{
        width: 500px;
        height: 666px;
    }
}

@media (max-width: 624px){

    .tab-content{
        width: 450px;
        height: 674px;
    }
    
    .navigation li {
        display: block;
        font-size: 18px;
    }
}

@media (max-width: 549px){

    .tab-content{
        width: 320px;
        height: 686px;

    }
    .navigation{
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation li{
        margin-bottom: 15px;
        font-size: 18px;
    }

    .tab-menu{
        display: flex;
        flex-direction: column;
    }

    .tab-menu li{
        margin-bottom: 10px;
    }
    
    .first-last{
        flex-direction: column;
        gap: 0px;
    }

    .first-last input{
        width: 250px;
    }

    
    input{
        width: 247px;
    }

    .email-container input{
        width: 250px;
    }

    .get-started{
        width: 100%;
    }

    .continue{
        width: 270px;
    }

    .input-container{
        width: 270px;
    }

    .email-container{
        width: 270px;
    }
}

@media (max-width: 409px){
    .tab-content{
        width: 74%;
        height: 700px;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigation li{
        font-size: 18px;
    }

    .first-last{
        align-items: center;
    } 

    .started-container{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    }

    .get-started{
        align-items: center;
    }

    .icon-email{
        right: -4px;
        top: 40px;
        margin-right: 8px;
        transform: translateY(-50%);

    }

    .input-container{
        width: 203px;
    }

    .continue{
        width: 200px;
        padding: 5;
        border-radius: 10px;
    }

    .continue a{
        margin-left: 37px;
    }
}

@media (max-width:390px){

    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin: 0 auto;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .email-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-container1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email-container input{
        width: 203px;
    }

    .password-container1 input{
        width: 203px;
    }
    .password-container2 input{
        width: 203px;
    }
    .icon-profile{
        right: 19px;
    }
    .icon-email{
        right: 21px;
    }
    .first-last input{
        width: 203px;
    }
    .get-started{
        width: 50%;
    }
    .google{
        top: 16px;
        left: 14px;
    }
    .facebook{
        top: 12px;
        left: 11px;
    }

}





